{block content}
<div class="onlineUser-form">
	{snippet formWrapper}
		{foreach $flashes as $flash}
			<div class="alert alert-{$flash->type}">
				{_$flash->message}
			</div>
		{/foreach}

		{if !isset($isPasswordSet)}
			<h2>{_'onlineUser.confirmRegistration.heading'}</h2>
			<p>{_'onlineUser.confirmRegistration.text'}</p>

			{control confirmRegistration}
		{/if}
	{/snippet formWrapper}
</div>

{/block}
