<div class="card" n:snippet="billingContainer">
	<div class="card-header">{_'onlineUser.cartInvoice.' . $container->name}</div>
	<div class="card-body">
		{foreach $container->getComponents() as $myControl}
			{if $myControl instanceof \Nette\Forms\Controls\HiddenField}
				{$myControl->getControl()}
			{elseif $myControl->getControlPrototype()->getAttribute('inlineEdit')}
				<div class="form-group row align-items-center">
					<div class="col-4">{$myControl->getLabel()}</div>
					<div class="col-5">{$myControl->getControl()}</div>
					<div class="col-3">
						<div class="inlineEdit">
							<button type="button" class="btnEdit no-live-validation"><span class="icon-pencil"></span></button>
							<button type="button" class="btnConfirm d-none no-live-validation" type="submit"><span class="icon-checkmark"></span></button>
							<button type="button" class="btnCancel d-none no-live-validation"><span class="icon-cross"></span></button>
						</div>
					</div>
				</div>
			{else}
				<div class="form-group row align-items-center">
					<div class="col-4">{$myControl->getLabel()}</div>
					<div class="col-8">{$myControl->getControl()}</div>
				</div>
			{/if}
		{/foreach}
	</div>
</div>