<div n:snippet="containers">
{form form}
	{foreach $form->getComponents(false, '\Nette\Forms\Container') as $container}
		{include $container->name . '.latte', container => $container}
	{/foreach}

	<div class="form-group">
		{label note}
		{input note}
	</div>

	<div class="form-group">
		{label terms}
		<div class="card">
			<div class="card-body terms-conditions">
				{input terms}
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-12">
			{label agreement}
			{input agreement}
		</div>
	</div>

	<div class="form-group row">
		<div class="col-4">
			{ifset $form['back']}
				{input back}
			{/ifset}
		</div>
		<div class="col-8 text-right">{input saveInvoice}</div>
	</div>
{/form}
</div>
