<div class="onlineUser-form">
	{snippet flashes}
		{foreach $flashes as $flash}
			<div class="alert alert-{$flash->type}">
				{_$flash->message}
			</div>
		{/foreach}
	{/snippet}
	{_'onlineUser.changeDeliveryAddress.description'|noescape}
	{form form}
		<div class="form-group row align-items-center">
			<div class="col-12">
				{input address}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-5">
				{label name}
			</div>
			<div class="col-7">
				{input name}
			</div>
		</div>

		<div class="row align-items-center">
			<div class="form-group col-5">
				<label class="required">{_'onlineUser.changeDeliveryAddress.streetSplit'}</label>
			</div>
			<div class="col-7">
				<div class="row">		
					<div class="col-6">
						{label street}
					</div>
					<div class="col-3">
						{label streetNumber}
					</div>
					<div class="col-3">
						{label orientationNumber}
					</div>
				</div>
				<div class="row">
					<div class="form-group col-6">
						{input street}
					</div>	
					<div class="form-group col-3">
						{input streetNumber}
					</div>
					<div class="form-group col-3">
						{input orientationNumber}
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-5">
				{label city}
			</div>
			<div class="col-7">
				{input city}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-5">
				{label zip}
			</div>
			<div class="col-7">
				{input zip}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-5">
				{label countryIso}
			</div>
			<div class="col-7">
				{input countryIso}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-5">
				{input default}
			</div>
			<div class="col-7">
				{input send}
			</div>
		</div>

		{foreach $form->getComponents(false, '\Nette\Forms\Controls\HiddenField') as $myControl}
			{$myControl->getControl()}
		{/foreach}
	{/form}
</div>

<script n:syntax="off">
	$('.onlineUser-form form').each(function() {
		window.Nette.initForm(this);
	});
</script>
