<div class="card" n:snippet="deliveryContainer">
	<div class="card-header">{_'onlineUser.cartInvoice.' . $container->name}</div>
	<div class="card-body">
		{foreach $container->getComponents() as $myControl}
			{if $myControl instanceof \Nette\Forms\Controls\HiddenField}
				{$myControl->getControl()}
			{elseif $myControl->name == 'chooseAddress'}
				<div class="form-group row align-items-center">
					<div class="col-4">{$myControl->getControl()}</div>
				</div>
			{elseif $myControl->getControlPrototype()->getAttribute('inlineEdit')}
				<div class="form-group row align-items-center">
					<div class="col-4">{$myControl->getLabel()}</div>
					<div class="col-5">{$myControl->getControl()}</div>
					<div class="col-3">
						<div class="inlineEdit">
							<button type="button" class="btnEdit no-live-validation"><span class="icon-pencil"></span></button>
							<button type="button" class="btnConfirm d-none no-live-validation" type="submit"><span class="icon-checkmark"></span></button>
							<button type="button" class="btnCancel d-none no-live-validation"><span class="icon-cross"></span></button>
						</div>
					</div>
				</div>
			{else}
				<div class="form-group row align-items-center">
					<div class="col-4">{$myControl->getLabel()}</div>
					<div class="col-8">{$myControl->getControl()}</div>
				</div>
			{/if}
		{/foreach}
	</div>
</div>

<div class="modal ajax fade" id="addressList" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addressList">{_'onlineUser.changeDeliveryAddress.newOrAnotherDeliveryAddress'}</h5>
				<button type="button" class="close no-live-validation" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>