<div class="card" n:snippet="personalContainer">
	<div class="card-header">{_'onlineUser.cartInvoice.' . $container->name}</div>
	<div class="card-body">
		{foreach $container->getComponents(false, '\Nette\Forms\Controls\HiddenField') as $myControl}
			{$myControl->getControl()}
		{/foreach}

		<div class="form-group row align-items-center">
			<div class="col-4">{$container['email']->getLabel()}</div>
			<div class="col-8">{$container['email']->getControl()}</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">{$container['name']->getLabel()}</div>
			<div class="col-8">{$container['name']->getControl()}</div>
		</div>
			
		<div class="form-group row align-items-center">
			<div class="col-4">{label $container['mobile']}</div>
			<div class="form-inline col-5 col-sm-5 col-md-5">
				<div class="row no-gutters w-100">
					<div class="col-3">
						<div class="form-group">
							{input $container['mobilePrefix']}
						</div>
					</div>
					<div class="col-9">
						<div class="form-group position-relative">
							{input $container['mobile']}
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="inlineEdit {$container['mobile']->name}">
					<button type="button" class="btnEdit no-live-validation"><span class="icon-pencil"></span></button>
					<button type="button" class="btnConfirm d-none no-live-validation" type="submit" data-spinner-class="ajax-spinner-inline" data-spinner-target=".inlineEdit.{$container['mobile']->name}" data-spinner-place="append"><span class="icon-checkmark"></span></button>
					<button type="button" class="btnCancel d-none no-live-validation"><span class="icon-cross"></span></button>
				</div>
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">{label $container['phone']}</div>
			<div class="form-inline col-5 col-sm-5 col-md-5">
				<div class="row no-gutters w-100">
					<div class="col-3">
						<div class="form-group">
							{input $container['phonePrefix']}
						</div>
					</div>
					<div class="col-9">
						<div class="form-group position-relative">
							{input $container['phone']}
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="inlineEdit {$container['phone']->name}">
					<button type="button" class="btnEdit no-live-validation"><span class="icon-pencil"></span></button>
					<button type="button" class="btnConfirm d-none no-live-validation" type="submit" data-spinner-class="ajax-spinner-inline" data-spinner-target=".inlineEdit.{$container['phone']->name}" data-spinner-place="append"><span class="icon-checkmark"></span></button>
					<button type="button" class="btnCancel d-none no-live-validation"><span class="icon-cross"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>
