<a class="collapse-header" data-toggle="collapse" href="#{$container->name}" aria-controls="{$container->name}" aria-expanded="true">{_'onlineUser.registration.' . $container->name}</a>
<div id="{$container->name}" class="collapse show mt-1">
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['ic']}</div>
		<div class="col-5">{input $container['ic']}</div>
		{ifset $container['ares']}
			<div class="col-4">{input $container['ares']}</div>
		{/ifset}
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['dic']}</div>
		<div class="col-9">{input $container['dic']}</div>
	</div>
	{ifset $container['icDph']}
		<div class="form-group row align-items-center">
			<div class="col-3">{label $container['icDph']}</div>
			<div class="col-9">{input $container['icDph']}</div>
		</div>
	{/ifset}
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['companyName']}</div>
		<div class="col-9">{input $container['companyName']}</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3">{label $container['street']}</div>
		<div class="col-3 col-md-5">
			<div class="row">
				<div class="col-12">{label $container['street']}</div>
			</div>
			<div class="form-group row">
				<div class="col-12">
					{input $container['street']}
				</div>
			</div>
		</div>
		<div class="col-3 col-md-2">
			<div class="row">
				<div class="col-12">{label $container['streetNumber']}</div>
			</div>
			<div class="form-group row">
				<div class="col-12">
					{input $container['streetNumber']}
				</div>
			</div>
		</div>
		<div class="col-3 col-md-2">
			<div class="row">
				<div class="col-12">{label $container['orientationNumber']}</div>
			</div>
			<div class="form-group row">
				<div class="col-12">
					{input $container['orientationNumber']}
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['city']}</div>
		<div class="col-9">{input $container['city']}</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['zip']}</div>
		<div class="col-9">{input $container['zip']}</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['countryIso']}</div>
		<div class="col-9">{input $container['countryIso']}</div>
	</div>
</div>
