<a class="mb-3 collapse-header" data-toggle="collapse" href="#{$container->name}" aria-controls="{$container->name}" aria-expanded="false">{_'onlineUser.registration.' . $container->name}</a>
<div id="{$container->name}" class="collapse mt-1">
	{foreach $container->getComponents() as $myControl}
		<div class="form-group row align-items-center">
			{if $myControl->caption}
				<div class="col-3">{label $myControl}</div>
				<div class="col-9">
					{if $myControl instanceof \Redenge\Application\Components\Controls\Html}
						<div class="card">
							<div class="card-body">{input $myControl}</div>
						</div>
					{else}
						{input $myControl}
					{/if}
				</div>
			{else}
				<div class="col-12">
					{if $myControl instanceof \Redenge\Application\Components\Controls\Html}
						<div class="bg-white border p-3">
							{input $myControl}
						</div>
					{else}
						{input $myControl}
					{/if}
				</div>				
			{/if}
		</div>
	{/foreach}
</div>
