<a class="collapse-header" data-toggle="collapse" href="#{$container->name}" aria-controls="{$container->name}" aria-expanded="true">{_'onlineUser.registration.' . $container->name}</a>
<div id="{$container->name}" class="collapse show mt-1">
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['email']}</div>
		<div class="col-9">{input $container['email']}</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['titlePrefix']}</div>
		<div class="col-9">{input $container['titlePrefix']}</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['name']}</div>
		<div class="col-9">{input $container['name']}</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['lastname']}</div>
		<div class="col-9">{input $container['lastname']}</div>
	</div>
	<div class="form-group row align-items-center">
		<div class="col-3">{label $container['titleSuffix']}</div>
		<div class="col-9">{input $container['titleSuffix']}</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3">{label $container['mobile']}</div>
		<div class="form-group col-4 col-sm-3 col-md-2">{input $container['mobilePrefix']}</div>
		<div class="form-group col-5 col-sm-6 col-md-7">{input $container['mobile']}</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3">{label $container['phone']}</div>
		<div class="form-group col-4 col-sm-3 col-md-2">{input $container['phonePrefix']}</div>
		<div class="form-group col-5 col-sm-6 col-md-7">{input $container['phone']}</div>
	</div>
</div>