<div class="onlineUser-form">
	<div class="row">
		<div class="col-12">
			<h2 class="mt-0">{_'onlineUser.registration.registration'}</h2>
			{snippet formWrapper}
				{foreach $flashes as $flash}
					<div class="alert alert-{$flash->type}">
						{_$flash->message}
					</div>
				{/foreach}

				{if isset($isSuccessForm) && $isSuccessForm}
					<h2>{_'onlineUser.registration.thanks_for_registration_heading'}</h2>
					{_'onlineUser.registration.thanks_for_registration_text'|noescape}
				{else}
					{form form}
						<div id="accordion" role="tablist" aria-multiselectable="true">
							{foreach $form->getComponents(false, '\Nette\Forms\Container') as $container}
								{include $container->name . '.latte', container => $container}
							{/foreach}
						</div>

						<div class="form-group">
							{label terms}
								<div class="bg-white border p-3 terms-conditions">
										{input terms}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-12">
									{label agreement}
										{input agreement}
									</div>
								</div>

								<div class="form-group row">
									<div class="col-3 send-button">{input send}</div>
								</div>
					{/form}

					<script n:syntax="off">
						Nette.initForm($('.onlineUser-form form')[0]);
					</script>
				{/if}
			{/snippet}
		</div>
	</div>
</div>
