{block title}{_'onlineUser.loginActivation.account_activation'}{/block}

{block content}

{snippet formWrapper}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}">
			{$flash->message}
		</div>
	{/foreach}

	{if !isset($isPasswordSet)}
		<h2>{_'onlineUser.loginActivation.password_reset'}</h2>
		{control passwordRecovery}
	{/if}
{/snippet formWrapper}
