{block title}{_'onlineUser.forgotPassword.newPassword'}{/block}

{block content}
<h2>{_'onlineUser.forgotPassword.newPasswordSet'}</h2>

{snippet formWrapper}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}">
			{$flash->message}
		</div>
	{/foreach}

	{if !isset($isPasswordSet)}
		{control passwordRecovery}
	{/if}
{/snippet formWrapper}
