@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?67xww6');
  src:  url('fonts/icomoon.eot?67xww6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?67xww6') format('truetype'),
    url('fonts/icomoon.woff?67xww6') format('woff'),
    url('fonts/icomoon.svg?67xww6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
  content: "\ea08";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\ea0f";
}
