.text-danger {
	color: #ED323D !important;
}
.text-success {
	color: green !important;
}
.ajax-spinner {
	position: absolute;
	background: rgba(255,255,255, 0.5) url(/img/ajax-spinner.svg) no-repeat center center;
	width: 100%;
	height: 100%;
	z-index: 10000;
	text-align: center;
}
.ajax-spinner-inline {
	display: inline-block;
	background-image: url(/img/ajax-spinner-inline.svg);
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.onlineUser-form {
	position: relative;
}
.onlineUser-form h2 {
	margin-top: 0;
}
.onlineUser-form .form-group.has-error label {
	color: #ED323D
}
.onlineUser-form .form-group.has-error .form-control {
	border-color: #ED323D;
}
.onlineUser-form .form-group.has-success .form-control {
	border-color: green;
}
.onlineUser-form .form-group.has-error [class^="icon-"], [class*=" icon-"] {
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 9px;
	background-color: #fff;
}
.onlineUser-form select [class^="icon-"] {
	right: 30px;
}
.onlineUser-form .form-control {
	display: block;
	width: 100%;
	padding: 0.5rem 1.5rem 0.5rem 0.75rem;
	line-height: 1.25;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	outline: 0;
}
.onlineUser-form .form-control-plaintext {
	padding: 0.5rem 1.5rem 0.5rem 0.75rem;
	line-height: 1.25;
	background-color: transparent;
	border: solid transparent;
	border-width: 1px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.onlineUser-form select.form-control-plaintext:disabled {
	color: #000 !important;
}
.onlineUser-form .btn {
	line-height: 1.25rem;
	padding: 10px;
	font-size: 13px;	
	font-weight: 600;
	border: none;
}
.onlineUser-form .btn-default {
	background-color: #ED323D;
	color: #fff!important;
}
.onlineUser-form .btn-blue {
	background-color: #446faf;
	color: #fff!important;
}
.onlineUser-form .btn-next {
	background-color: #ED323D;
	color: #fff!important;
}
.onlineUser-form .btn-back {
	border: 1px solid #d1d1d1;
	background-color: #fff;
	padding: 10px 25px;
}
.onlineUser-form input[type=checkbox] {
	vertical-align: middle;
    margin-right: 5px;
}
.onlineUser-form.cartInvoice .card {
	border: 1px solid rgba(0,0,0,.125);
	margin-bottom: 20px;
}
.onlineUser-form.cartInvoice .card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
	font-size: 0.9rem;
}
.onlineUser-form.cartInvoice .card-body {
	padding: 1.25rem;
}
.onlineUser-form .terms-conditions {
	height: 200px;
	overflow-y: auto;
}
.onlineUser-form label.required::after {
	content: '*';
	color: #cc2206;
	display: inline-block;
	margin-left: 3px;
}
.onlineUser-form .border {
	border: 1px solid rgba(0,0,0,.125);
}
.onlineUser-form .p-3 {
	padding: 1rem;
}
.onlineUser-form .mb-3 {
	margin-bottom: 1rem;
}
.onlineUser-form .bg-white {
	background-color: #fff !important;
}
.onlineUser-account-nav .nav-item {
	background: none !important;
	background-color: #EAEAE9 !important;
	font-size: 16px;
	font-weight: 700;
	padding: 0;
	margin: 0 10px 0 0;
}
.onlineUser-account-nav .nav-link {
	color: #626366;
}
.onlineUser-form input.spinner {
	background-image: url('/img/ajax-spinner-inline.svg');
	background-size: 30px 24px;
	background-position: right center;
	background-repeat: no-repeat;
}
