<div id="loginForm">
	{snippet formWrapper}
		<div id="signInForm" class="onlineUser-form collapse show" data-parent="#loginForm">

			{foreach $flashes as $flash}
				<div class="alert alert-{$flash->type}">
					{_$flash->message}
				</div>
			{/foreach}
			<div class="row">
				{if $loginInProcess}
					<div class="col-12">
						{control loginForm}
					</div>
				{else}
					<div class="col-7">
						<h2>{_'onlineUser.login.login'}</h2>
						<p>{_'onlineUser.login.text'}</p>
						{control baseForm}
					</div>

					<div class="col-5">
						<h2>{_'onlineUser.login.registration'}</h2>
						{_'onlineUser.login.registration_text'|noescape}
						<p><a href="{plink :OnlineUser:Front:Registration:default}">{_'onlineUser.login.i_want_register'}</a></p>
						<p><a data-toggle="collapse" href="#forgotPassForm" aria-expanded="false" aria-controls="forgotPassForm">Zapomněli jste heslo?</a></p>
					</div>
				{/if}
			</div>
		</div>
	{/snippet}

	{snippet forgotPassWrapper}
		<div id="forgotPassForm" n:class="isset($forgotPassShow) ? show, collapse" data-parent="#loginForm">
			{foreach $flashes as $flash}
				<div class="alert alert-{$flash->type}">
					{_$flash->message}
				</div>
			{/foreach}
			<h2>{_'onlineUser.forgotPassword.recoveryForgotPassword'}</h2>
			{control forgotPass}
		</div>
	{/snippet}
</div>

<script n:syntax="off">
	$('#loginForm form').each(function() {
		window.Nette.initForm(this);
	});
</script>
