<div id="loginForm">
	{snippet formWrapper}
		<div id="signInForm" class="onlineUser-form collapse show" data-parent="#loginForm">

			{foreach $flashes as $flash}
				<div class="alert alert-{$flash->type}">
					{_$flash->message}
				</div>
			{/foreach}
			<div class="row">
				{if $loginInProcess}
					<div class="col-12">
						{control loginForm}
					</div>
				{else}
					<div class="col-12">
						<h2>{_'onlineUser.login.login'}</h2>
						<p>{_'onlineUser.login.text'}</p>
						{control baseForm}
					</div>
				{/if}
			</div>
		</div>
	{/snippet}
</div>

<script n:syntax="off">
	$('#loginForm form').each(function() {
		window.Nette.initForm(this);
	});
</script>
