<div class="onlineUser-form">
	{snippet flashes}
		{foreach $flashes as $flash}
			<div class="alert alert-{$flash->type}">
				{_$flash->message}
			</div>
		{/foreach}
	{/snippet}
	{form form}
		<div class="form-group row align-items-center">
			<div class="col-4">
				{label titlePrefix}
			</div>
			<div class="col-8">
				{input titlePrefix}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">
				{label name}
			</div>
			<div class="col-8">
				{input name}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">
				{label lastname}
			</div>
			<div class="col-8">
				{input lastname}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">
				{label titleSuffix}
			</div>
			<div class="col-8">
				{input titleSuffix}
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">{label mobile}</div>
			<div class="col-8">
				<div class="row">
					<div class="col-5">
						<div class="form-group">
							{input mobilePrefix}
						</div>
					</div>
					<div class="col-7">
						<div class="form-group">
							{input mobile}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4">{label phone}</div>
			<div class="col-8">
				<div class="row">
					<div class="col-5">
						<div class="form-group">
							{input phonePrefix}
						</div>
					</div>
					<div class="col-7">
						<div class="form-group">
							{input phone}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row align-items-center">
			<div class="col-4 send-button">
				{input save}
			</div>
		</div>
	{/form}
</div>

<script n:syntax="off">
	$('.onlineUser-form form').each(function() {
		window.Nette.initForm(this);
	});
</script>